/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <=11,
*/

/* Fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'), local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'), local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

/* Variables */

:root {
  --basic-black: #000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #fff;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;

  --warning: #f6dada;

  --variative-grey: #d9d9d9;
  --variation-grey: #dcdcdc;
  --variant-grey: #b7b7b7;
  --option-grey: #c4c4c4;
  --modal-grey: #f2f2f2;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Verdana, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.2px;
  grid-column-start: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.wrapper {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Main navigation*/

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 34px;
}

.menu,
.search-text {
  margin: 0;
  list-style-type: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.user-navigation {
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  flex-wrap: wrap;
}

.submenu-category {
  background: var(--special-yellow-light);
  text-transform: none;
  letter-spacing: normal;
  padding-left: 0;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 22px;
  height: 141px;
}

.dropdown {
  margin-right: auto;
  margin-top: 7px;
  margin-left: 60px;
  margin-bottom: 9px;
}

.navigation-link {
  color: var(--basic-black);
}

.user-nav-enter {
  margin-right: auto;
  margin-left: 22px;
}

.user-nav-compare {
  margin-left: 44px;
}

.user-nav-basket {
  margin-left: 44px;
}

.nav-link-enter::before {
  content: url('../img/svg/user.svg');
  margin-right: 11px;
}

.nav-link-compare::before {
  content: url('../img/svg/compare.svg');
  margin-right: 14px;
}

.nav-link-basket::before {
  content: url('../img/svg/cart.svg');
  margin-right: 11px;
}

.navigation-link:hover,
.search-label:hover,
.footer-navigation:hover {
  opacity: 0.6;
}

.navigation-link:active,
.footer-navigation:active,
.search-label {
  opacity: 0.3;
}

.navigation-item:not(:last-child) {
  margin-right: 42px;
}

.user-navigation-footer {
  color: var(--basic-half-grey);
  opacity: 1;
}

.user-navigation-footer:hover,
.footer-navigation {
  color: var(--basic-white);
}

.user-navigation-footer:active {
  color: var(--basic-grey);
}

.user-nav-footer {
  margin-left: 37px;
}

.user-exit {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.user-exit {
  opacity: 0.3;
  display: inline-block;
  padding: 0;
}

.nav-link-enter+.user-exit {
  margin-left: 17px;
}

.user-navigation-footer+.user-exit {
  margin-left: 24px;
}

.user-footer::before {
  content: url(../img/svg/user-yellow.svg);
  margin-right: 13px;
}

.user-footer:hover::before {
  opacity: .6;
}

.user-footer:active::before {
  opacity: .3;
}

.compare-footer::before {
  content: url(../img/svg/compare-yellow.svg);
  margin-right: 13px;
}

.compare-footer:hover::before {
  opacity: .6;
}

.compare-footer:active::before {
  opacity: .3;
}

.cart-footer::before {
  content: url(../img/svg/cart-yellow.svg);
  margin-right: 13px;
}

.cart-footer:hover::before {
  opacity: .6;
}

.cart-footer:active::before {
  opacity: .3;
}

.navigation {
  list-style-type: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.item-catalog {
  flex-basis: 50%;
}

.item-garanty {
  margin-left: 40px;
}

.item-delivery {
  margin-left: 20px;
}

.item-contacts {
  margin-left: auto;
}

.catalog-dropdown::after {
  content: url('../img/svg/plus.svg');
  opacity: .3;
  margin-left: 15px;
}

.catalog-dropdown:hover::after {
  opacity: .5;
}

.catalog-dropdown:active::after {
  opacity: .9;
}

.item-catalog:hover .submenu-category {
  display: flex;
}

.navigation,
.search-button {
  text-transform: uppercase;
}

.nav-list {
  letter-spacing: 2px;
}

/* Header */

.header {
  margin-top: 40px;
}

.header-nav {
  background-color: var(--special-yellow-light);
  padding: 30px 60px 50px 60px;
  min-height: 300px;
  box-sizing: border-box;
  position: relative;
}

.logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.logo:hover {
  opacity: .6;
}

.logo:active {
  opacity: .3;
}

.logo-footer {
  margin-top: 19px;
}

.logo-footer:hover {
  opacity: .6;
}

.logo-footer:active {
  opacity: .3;
}

.search {
  position: relative;
}

.search-label {
  position: absolute;
  left: 36px;
  line-height: 50px;
}

.header-search {
  background-color: transparent;
  background-image: url("../img/svg/search.svg");
  background-position: 0 center;
  background-repeat: no-repeat;
  border: none;
  padding-left: 36px;
  outline: none;
  width: 356px;
  height: 50px;
  border-bottom: 2px solid transparent;
}

.header-search:focus {
  border-bottom: 2px solid var(--basic-black);
}

.header-search:focus~.search-label {
  display: none;
}

.search .search-button {
  background-color: transparent;
  border: 2px solid var(--basic-black);
  opacity: 1;
  width: 84px;
  height: 50px;
  margin: 0;
  outline: none;
  position: absolute;
  opacity: 0;
}

.header-search:focus~.search-button {
  opacity: 1;
}

.header-search:focus~.search-button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.header-search:focus~.search-button:active {
  color: var(--basic-grey);
}

/* Breadcrumbs*/

.breadcrumbs {
  list-style-type: none;
  padding-left: 60px;
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url('../img/svg/nav-arrow.svg');
  margin-left: 16px;
  margin-right: 20px;
}

.breadcrumbs-link {
  color: var(--basic-black);
  opacity: 0.3;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

/* Slider */

.slider {
  margin-top: -129px;
  position: relative;
}

.slide {
  display: flex;
  counter-increment: decimal;
}

.slide::after {
  content: counter(decimal, decimal-leading-zero);
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 179px;
  color: var(--basic-white);
  position: absolute;
  right: 46px;
  top: 79px;
}

.slide-img {
  display: flex;
  justify-content: center;
  margin-right: auto;
  align-items: center;
  flex-basis: 50%;
  height: 485px;
}

.slide-content {
  flex-basis: 50%;
  padding-top: 41px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding-right: 60px;
  padding-left: 20px;
}

.slide-content::before {
  content: '';
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  position: absolute;
  top: 34px;
  left: 20px;
}

.slider-title,
.page-title {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-bottom: 26px;
}

.slider-title {
  margin-top: 52px;
}

.page-title {
  padding-left: 60px;
  margin-top: 44px;
}

.slider-text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 56px;
}

.slider-features {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 3px;
  list-style-type: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: 0;
}

.slider-feature {
  font-size: 36px;
  line-height: 36px;
  display: block;
  margin-bottom: 21px;
  letter-spacing: 3px;
}

.slider-features li {
  margin-top: 10px;
}

.slider-features li:not(:last-child) {
  margin-right: 65px;
}

.slider-toggle {
  position: absolute;
  right: 88px;
  top: 332px;
  bottom: 126px;
  z-index: 1;
}

.slider-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 11px;
  height: 11px;
  margin-left: 15px;
  box-shadow: 0 0 0 1px var(--basic-black);
  cursor: pointer;
}


.btn-wrap {
  left: 20px;
  bottom: 126px;
}

.current-slide-button {
  box-shadow: 0 0 0 2px var(--basic-white) inset,
    0 0 0 3px var(--basic-black) inset,
    0 0 0 1px var(--basic-black);
}

/* Inner */

.header-nav-inner {
  min-height: 186px;
}


/* Button */

.button {
  font: inherit;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  letter-spacing: 3.5px;
  font-size: 18px;
  box-sizing: border-box;
  color: var(--basic-black);
  position: relative;
  height: 40px;
  background-color: transparent;
  z-index: 1;
  outline: none;
  cursor: pointer;
}

.button::before {
  content: '';
  background-color: var(--special-yellow-dark);
  top: 16px;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  transition: transform 0.3s;
  position: absolute;
}

.button-service {
  width: 160px;
}

.button:hover::before {
  transform: scaleY(5);
  transition: transform 0.3s;
}

.button:active {
  color: rgba(0, 0, 0, .3);
}

.button-modal::before {
  background-color: var(--special-yellow-light);
}

.button-slider {
  padding: 9px 43px;
}

.button-us {
  padding-left: 24px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.button-contacts {
  width: 260px;
}

.button-modal,
.button-filter,
.button-basket {
  width: 200px;
}

/* Popular */

.popular {
  margin-top: 120px;
  position: relative;
}

.popular-list {
  list-style-type: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05px;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

.popular-item {
  width: 160px;
  position: relative;
}

.popular-link {
  color: var(--basic-black);
}

.popular-link:active {
  opacity: 0.3;
}

.popular-link::before {
  content: '';
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-light);
  display: block;
  margin-bottom: 38px;
}

.popular-link::after {
  position: absolute;
  width: 160px;
  height: 160px;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.popular-link:hover::before {
  background-color: var(--special-yellow-dark);
}

.popular-link:active::after {
  opacity: .3;
}

.virtuality::after {
  content: url('../img/svg/popular-1.svg');
}

.monopod::after {
  content: url('../img/svg/popular-2.svg');
}

.camera::after {
  content: url('../img/svg/popular-3.svg');
}

.bracelet::after {
  content: url('../img/svg/popular-4.svg');
}

.watch::after {
  content: url('../img/svg/popular-5.svg');
}

.quadro::after {
  content: url('../img/svg/popular-6.svg');
}

/* Service */

.service {
  min-width: 100%;
  margin-top: 67px;
  margin-bottom: 90px;
  padding-top: 15px;
  padding-bottom: 68px;
  background: linear-gradient(to bottom,
      transparent 0px,
      transparent 29%,
      var(--basic-grey-light) 29%,
      var(--basic-grey-light) 100%);
}

.service-box {
  display: flex;
}

.service-list {
  list-style-type: none;
  padding-left: 0;
  min-width: 277px;
  border-right: 7px solid var(--basic-black);
  min-height: 240px;
  padding-top: 82px;
  margin: 0;
}

.service-list-item {
  padding-bottom: 21px;
}

.service-list .active {
  color: var(--special-yellow-light);
  z-index: 1;
  width: 160px;
  outline: 0;
}

.service-list .active::before {
  content: '';
  background-color: var(--basic-black);
  width: 277px;
  top: 0;
  height: 40px;
  transform: none;
}

.service-slide {
  padding-top: 73px;
  padding-right: 175px;
  padding-left: 117px;
  display: none;
  background-repeat: no-repeat;
  background-position: right 72px;
  width: 100%;
}

.service-text {
  letter-spacing: 1.5px;
}

.delivery {
  background-image: url('../img/svg/delivery.svg');
  ;
}

.garanty {
  background-image: url('../img/svg/warranty.svg');
}

.credit {
  background-image: url('../img/svg/credit.svg');
}

.active-slide {
  display: block;
}

.regular-title {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 9px;
  margin-top: 0;
}

.regular-text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 40px;
}

/* Brands */

.list-brands {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .3;
}

.brand:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

/* About us */

.col-content-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-top: 11px;
  margin-bottom: 77px;
}

.about-us {
  width: 560px;
}

.delivery-list {
  list-style-type: none;
  color: var(--basic-black);
  margin-top: 53px;
  margin-bottom: 68px;
  padding: 0;
}

.delivery-list-item {
  font-weight: 800;
  font-size: 16px;
  line-height: 42px;
  display: flex;
  align-items: baseline;
}

.delivery-list-item::before {
  content: '';
  border: 2px solid var(--basic-grey-light);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  margin-right: 25px;
}

.info-title {
  margin-bottom: 40px;
}

.info-title::before {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  margin-bottom: 50px;
}

/* Contacts */

.contacts {
  width: 560px;
}

.map {
  margin-bottom: 67px;
  position: relative;
}

.button-map {
  cursor: pointer;
  outline: none;
}

/* Catalog */

.catalog-container {
  background: linear-gradient(to bottom,
      var(--basic-grey-light) 70px,
      transparent 70px),
    linear-gradient(to right, var(--basic-grey-light) 29vw,
      transparent 29vw);
  position: relative;
  overflow: hidden;
}

.catalog {
  display: flex;
}

/* Filter */

.filter {
  min-width: 268px;
  padding-left: 60px;
  background-color: var(--basic-grey-light);
}

.filter-header {
  background-color: var(--variation-grey);
  height: 70px;
  margin: 0;
}

.filter-header::after {
  content: '';
  display: block;
  width: 29vw;
  z-index: 1;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--variation-grey);
}

.filter-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-top: 25px;
}

.filter-position {
  position: absolute;
  z-index: 3;
}

.filter-form {
  margin-top: 70px;
}

.filter-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-fieldset:not(:first-child) {
  margin-top: 29px;
}

.filter-fieldset:last-of-type {
  margin-bottom: 37px;
}

.filter-options {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 5px;
  margin-top: 29px;
}

.filter-legend {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.5px;
  border-top: 2px solid var(--basic-black);
  width: 200px;
  padding-top: 15px;
}

.filter-text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
}

.range-text {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
}

.range {
  width: 200px;
  margin: 40px 0;
  position: relative;
}

.scale {
  height: 2px;
  background-color: var(--variant-grey);
  margin: 17px 0;
}

.bar {
  height: 2px;
  background-color: var(--special-green);
  width: 47%;
}

.toggle {
  display: flex;
  flex-direction: column;
}

.range-btn {
  width: 20px;
  height: 20px;
  background-color: var(--option-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  padding: 0;
  margin-bottom: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.range-price {
  background-color: transparent;
  border: none;
  width: 60px;
}

.range-price::-webkit-input-placeholder {
  color: var(--basic-black);
}

.range-price::-moz-placeholder {
  color: var(--basic-black);
}

.range-price::placeholder {
  color: var(--basic-black);
}

.min {
  position: absolute;
  top: -9px;
  left: 0;
}

.max {
  position: absolute;
  top: -9px;
  left: 47%;
}

.max-price {
  position: absolute;
  top: 27px;
  left: -15px;
  ;
}

.checkbox+.filter-label,
.radio+.filter-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox+.filter-label::before {
  content: url('../img/svg/checkbox-off.svg');
  margin-right: 18px;
}

.checkbox:checked+.filter-label::before {
  content: url('../img/svg/checkbox-on.svg');
  margin-right: 18px;
}

.radio+.filter-label::before {
  content: url('../img/svg/radio-off.svg');
  margin-right: 18px;
}

.radio:checked+.filter-label::before {
  content: url('../img/svg/radio-on.svg');
  margin-right: 18px;
}

.filter-label {
  margin-top: 13px;
}

.sorting {
  display: flex;
  margin-left: 72px;
  height: 70px;
  align-items: baseline;
  justify-content: space-between;
}

.sorting-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 74px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sorting-link {
  color: var(--basic-black);
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.sorting-link:hover {
  opacity: 0.6;
}

.sorting-link:active {
  opacity: 1;
}

.sorting-item {
  margin-right: 30px;
}

.arrows {
  margin-left: auto;
}

.arrow {
  color: var(--basic-black);
  opacity: 0.2;
}

.arrow-item {
  margin-left: 23px;
  margin-right: 4px;
}

.arrow:hover {
  opacity: 0.4;
}

.arrow:active {
  opacity: 1;
}

.active-arrow,
.active-sorting-link {
  opacity: 1;
}

.list-items {
  list-style-type: none;
  display: grid;
  grid-template-columns: 360px 360px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 48px;
  margin-top: 70px;
  margin-left: 72px;
  padding-left: 0;
}

.item-link {
  color: var(--basic-black);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
}

.item-title {
  margin-bottom: 0;
  margin-top: 28px;
  line-height: 23px;
}

.price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.item-img-box {
  width: 360px;
  height: 380px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 80px 1fr;
  grid-template-columns: 1fr 200px 1fr;
  position: relative;
}

.item-img-box:hover .item-img-link {
  display: grid;
}

.item-price-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.new::before {
  content: 'new';
  position: absolute;
  top: 29px;
  right: 27px;
  z-index: 5;
  width: 62px;
  height: 62px;
  font-size: 12px;
  font-weight: 800;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
}

.item-img-link {
  z-index: 1;
  display: none;
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item-img-link:hover~.item-image {
  opacity: 0.7;
}

.item-image:hover {
  opacity: 0.7;
}

.compare {
  color: var(--basic-black);
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1px;
  opacity: 0.5;
  margin-top: 22px;
}

.compare:hover {
  opacity: 1;
}

.compare:active {
  opacity: 0.2;
}

.pagination {
  margin-left: 72px;
  margin-top: 36px;
  margin-bottom: 78px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--basic-grey-light);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-pages {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-page {
  margin-bottom: 5px;
}

.pagination-page:not(:last-child) {
  margin-right: 30px;
}

.pagination-link {
  opacity: 0.3;
  color: var(--basic-black);
}

.active-page {
  opacity: 1;
}

.pagination-btn {
  padding: 25px 30px;
  color: var(--basic-black);
  letter-spacing: 2px;
}

.pagination-btn:hover {
  background-color: var(--variative-grey);
}

.pagination-btn:active {
  color: rgba(0, 0, 0, .3)
}

/* Footer */

.footer {
  min-width: 100%;
  background-color: var(--basic-dark);
  padding-top: 46px;
  padding-bottom: 36px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 473px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 27px;
}

.footer-grid-nav {
  grid-column-start: 2;
  grid-column-end: -1;
}

.footer-grid-address {
  grid-row-start: 2;
  grid-row-end: 4;
}

.footer-grid-address::after {
  content: '';
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
  display: block;
  margin-top: 76px;
}

.phone {
  text-align: right;
}

.html-logo {
  text-align: right;
}

.htmlacademy:hover {
  opacity: .6;
}

.htmlacademy:active {
  opacity: .3;
}

.footer-text {
  margin: 0;
}

footer .regular-text {
  color: var(--basic-white);
}

.footer-menu {
  padding: 0 21px;
  text-align: center;
}

.socials {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-link {
  opacity: 0.6;
}

.social-link:hover {
  opacity: 1;
}

.social-link:active {
  opacity: .3;
}

.instagram {
  margin: 0 20px;
}

/* Modal form */

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-box {
  width: 960px;
  height: 550px;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  position: relative;
}

.modal-form {
  margin: 92px 100px 69px 100px;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 82px 1fr 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
}

.modal-textarea {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.modal-label {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin-bottom: 10px;
}

.user-data {
  border: none;
  background-color: var(--modal-grey);
  width: 100%;
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
}

.user-message {
  border: none;
  background-color: var(--modal-grey);
  width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 6px;
}

.user-data:hover,
.user-message:hover {
  background-color: var(--basic-grey-light);
}

.modal-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  border: 2px solid transparent;
}

.modal-text:focus {
  box-sizing: border-box;
  border: 2px solid var(--special-yellow-light);
}

.modal-close {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  position: absolute;
  right: 14px;
  top: 16px;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-error {
  background-color: var(--warning);
}

.hide {
  display: none;
}

/* Animation */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}